.serch__block{
	position: relative;
}

.search{
	width: 200px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 10px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.527);
	padding-left: 15px;
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.search__window{
	width: 200px;
	height: auto;
	max-height: 200px;
	position: absolute;
	left: 0;
	top: 50px;
	background-color: white;
	z-index: 10;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.527);
	border-radius: 5px;
	box-sizing: border-box;
	padding: 10px 0 10px 0;
	overflow: auto;
}

.search__window__item{
	font-style: normal;
    font-weight: 400;
    font-size: 16px;
	cursor: pointer;
	margin-bottom: 10px;
	width: 100%;
	padding: 5px 10px;
}

.search__window__item:last-child{
	margin-bottom: 0;
}

.search__window__item:hover{
	background-color: #FE5F1E;
	color: white;
}