.card {
	width: 280px;
	height: 470px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 65px;
}

.card img {
	width: 260px;
	height: 260px;
	margin-bottom: 17px;
}

.card h2 {
	font-weight: 800;
	font-size: 20px;
	line-height: 24px;
}

.choice {
	width: 100%;
	height: 85px;
	background-color: #F3F3F3;
	border-radius: 10px;
	padding: 7px 5px;
	margin-bottom: 17px;
	box-sizing: border-box;
	margin-top: 22px;
}

.choice__dough {}

.choice__dough ul {
	display: flex;
}

.choice__dough ul li {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	flex: 1;
	cursor: pointer;
	padding-top: 7px;
	padding-bottom: 7px;
	transition: 0.2s;
}

.choice__dough ul li.active {
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.choice__size {}

.choice__size ul {
	display: flex;
}

.choice__size ul li {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	flex: 1;
	cursor: pointer;
	padding-bottom: 7px;
	padding-top: 7px;
	margin-top: 7px;
	transition: 0.2s;
}

.choice__size ul li.active {
	background-color: white;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border-radius: 5px;
}

.card__button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.card__button button {
	background-color: white;
	width: auto;
	height: auto;
	padding: 11px 18px;
	border: 1px solid #FE5F1E;
	border-radius: 30px;
	cursor: pointer;
	color: #FE5F1E;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 7px;
	box-sizing: border-box;
	transition: 0.3s;
}

.card__button button:hover {
	background-color: #FE5F1E;
	width: auto;
	height: auto;
	padding: 11px 18px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 7px;
	box-sizing: border-box;
	transition: 0.3s;
}


.card__button button img {
	width: 12px;
	height: 12px;
	margin: 0;
}

.card__button__quantity {
	min-width: 24px;
	min-height: 24px;
	background-color: #FE5F1E;
	color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 13px;
	transition: 0.3s;
}

.card__button button:hover .card__button__quantity {
	background-color: white;
	color: #FE5F1E;
	transition: 0.3s;
}