header {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.header__logo {
	display: flex;
	height: 48px;
	align-items: center;
	gap: 17px;
}

.header__logo img {
	width: 38px;
	height: 38px;
}

.header__logo__txt {}

.header__logo__txt h2 {
	font-style: normal;
	font-weight: 800;
	font-size: 24px;
	color: black;
}

.header__logo__txt h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #7B7B7B;
}

.header__basket{
	width: auto;
	height: auto;
	background-color: #FE5F1E;
	cursor: pointer;
	border: none;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 12px 23px;
	gap: 13px;
}

.header__basket img{
	width: 16px;
	height: 16px;
	margin-right: 8px;
}

.header__basket h3{
	font-style: normal;
font-weight: 700;
font-size: 16px;
color: white;
}

.header__basket__img{
	display: flex;
	height: 25px;
	align-items: center;
	padding-left: 13px;
	border-left: solid 2px rgba(255, 255, 255, 0.25);
}