*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
}

li{
	list-style: none;
}

body{
	background-color: #FFDF8C;
}

.width {
	width: 1225px;
	box-sizing: border-box;
	margin: 0 auto;
}