.home__position{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 43px 0 43px 0;
}

.home {
	width: 1340px;
	height: auto;
	background-color: white;
	box-sizing: border-box;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding-top: 49px;
	padding-bottom: 35px;
}

.home .line {
	width: 100%;
	height: 2px;
	background-color: #F7F7F7;
	margin: 35px 0 40px 0;
}

.filtres {
	width: 100%;
	margin-bottom: 32px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.catalog__search{
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 35px;
}

.catalog__search h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;

}
.catalog__content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 35px;
}