
.sort {
	position: relative;
}

.sort__img{
	width: 13px;
	height: 7px;
	transform: rotate(90deg);
	margin-right: 7px;
	transition: 0.3s;
}

.sort__img.active{
	transform: rotate(180deg);
}

.sort h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	display: flex;
	align-items: center;
}

.sort span {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #FE5F1E;
	cursor: pointer;
	border-bottom: dashed 1px #FE5F1E;
	padding-bottom: 1px;
	margin-left: 8px;
}

.sort__item {
	width: 200px;
	height: auto;
	background-color: white;
	position: absolute;
	right: 0;
	margin-top: 3px;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
	border-radius: 10px;
	padding-top: 13px;
	padding-bottom: 10px;
	transform: scale(0);
	transition: 0.3s;
	z-index: 10;
}

.sort__item.active{
	transform: scale(1);
	transition: 0.3s;
}

.sort__item__li {
	width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	padding: 10px 0 10px 14px;
	cursor: pointer;
}

.sort__item__li.active {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	color: #FE5F1E;
	background-color: rgba(254, 95, 30, 0.05);
}
