
.type {}

.type ul {
	display: flex;
	gap: 8px;
	align-items: center;
}

.type__item {
	width: auto;
	height: auto;
	padding: 15px 28px;
	background: #F7F7F7;
	border-radius: 30px;
	box-sizing: border-box;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	transition: 0.2s;
}

.type__item.active {
	background-color: black;
	color: white;
}
