.basket__cart__box {
	width: 100%;
	height: 110px;
	border-top: solid 2px #F4F4F4;
	box-sizing: border-box;
	display: flex;
	align-items: end;
	margin-bottom: 30px;
}

.basket__cart {
	width: 100%;
	height: 80px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.basket__cart__name {
	width: 390px;
	height: auto;
	display: flex;
	gap: 15px;
	align-items: center;
}

.basket__cart__name img {
	width: 80px;
	height: 80px;
}

.basket__cart__name__txt{
	width: 100%;
}

.basket__cart__name__txt h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 5px;
}

.basket__cart__name__txt h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #8D8D8D;
}

.basket__cart__quantity {
	width: auto;
	height: 32px;
	display: flex;
	align-items: center;
}

.basket__cart__quantity button {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #FE5F1E;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.basket__cart__quantity button img {
	width: 10px;
	height: 10px;
	margin: 0;
}

.basket__cart__price{
	width: 120px;
	box-sizing: border-box;
}

.basket__cart__quantity h2 {
	margin: 0 12px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
}

.basket__cart h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
}

.button__delete{
	width: 32px;
	height: 32px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #D7D7D7;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	cursor: pointer;
}

.button__delete omg{
	width: 10px;
	height: 10px;
}