.basket__position {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 43px 0 43px 0;
}

.basket {
	width: 1340px;
	min-height: 980px;
	max-height: 980px;
	height: auto;
	background-color: white;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.03);
	border-radius: 10px;
	padding-top: 49px;
	padding-bottom: 130px;
	box-sizing: border-box;
}

.basket .line {
	width: 100%;
	height: 2px;
	background-color: #F7F7F7;
	margin: 35px 0 40px 0;
}

.basket__content {
	width: 820px;
	height: auto;
	margin: 0 auto;
	margin-top: 95px;
}

.basket__content__top {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

.basket__content__top__cart {
	display: flex;
	align-items: center;
	gap: 17px;
}

.basket__content__top__cart img {
	width: 30px;
	height: 30px;
}

.basket__content__top__cart h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
}

.basket__content__top__delete {
	width: auto;
	display: flex;
	align-items: center;
	gap: 7px;
	cursor: pointer;
}

.basket__content__top__delete img {
	width: 20px;
	height: 20px;
}

.basket__content__top__delete h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #B6B6B6;
}

.basket__overflow {
	width: 100%;
	max-height: 420px;
	box-sizing: border-box;
	overflow: auto;
	margin-bottom: 40px;
}

.basket__info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.basket__info__quantity {}

.basket__info__quantity h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
}

.basket__info__quantity span {
	font-weight: 700;
}

.basket__info__sum {}

.basket__info__sum h2 {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
}

.basket__info__sum span {
	font-weight: 700;
	color: #FE5F1E;
}

.basket__button {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
}

.basket__button__back {
	width: auto;
	height: auto;
	padding: 18px 31px;
	border: 1px solid #D3D3D3;
	border-radius: 30px;
	cursor: pointer;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #CACACA;
	background-color: white;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	gap: 8px;
}

.basket__button__back img {
	width: 10px;
	height: 16px;
}

.basket__button__pay {
	width: auto;
	height: auto;
	padding: 18px 31px;
	border-radius: 30px;
	cursor: pointer;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: white;
	background-color: #FE5F1E;
	box-sizing: border-box;
	border: none;
}

.basket__content__empty {
	width: 660px;
	height: 523px;
	text-align: center;
	margin: 0 auto;
}

.basket__content__empty h2 {
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 10px;
}

.basket__content__empty h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #777777;
}

.basket__content__empty img {
	width: 300px;
	height: 255px;
	margin-top: 47px;
	margin-bottom: 74px;
}

.basket__button__back__empty {
	width: 210px;
	height: 46px;
	background-color: black;
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	border-radius: 30px;
	display: block;
	margin: 0 auto;
}

