.pagination {
	display: flex;
	gap: 10px;
}

.pagination__item {
	cursor: pointer;
	min-width: 38px;
	min-height: 38px;
	background-color: white;
	border: solid 2px #FE5F1E;
	color: #FE5F1E;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	transition: 0.2s;
	box-sizing: border-box;
}

.pagination__item:hover {
	background-color: #FE5F1E;
	color: white;
}

.pagination__item.active {
	background-color: #FE5F1E;
	color: white;
}

.pagination__button {
	cursor: pointer;
	min-width: 38px;
	min-height: 38px;
	background-color: white;
	border: solid 2px #FE5F1E;
	color: #FE5F1E;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	transition: 0.2s;
	box-sizing: border-box;
}

.pagination__button:hover {
	background-color: #FE5F1E;
	color: white;
}
